.bg-Main {
    background: transparent url("./topimage.png") center/cover no-repeat fixed;
  }

.logo {
    margin: 1rem 0;
}

.logodiv {
    display: block;
    border-bottom: 1px solid white;
    margin-top: 0.1rem;
    margin-bottom: 0;
    opacity: 0.1;
}

.maintitle {
    font-size: 10vw;
    font-weight: 700;
    color: white;
    line-height: 1.47;
    letter-spacing: 2.97px;
    margin-top: 5rem;
}

@media (min-width: 576px) {
    .maintitle {
      font-size: 8vw;
      margin-top: 12rem;
    }
}

@media (min-width: 768px) {
    .maintitle {
      font-size: 6vw;
    }
}

@media (min-width: 992px) {
    .maintitle {
      font-size: 6vw;
      margin-top: 16rem;
    }
}

@media (min-width: 1200px) {
    .maintitle {
      font-size: 4vw;
    }
}


.slogan {
    font-size: 1vw;
    font-weight: 300;
    color: #ffffff;
    line-height: 2.39;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 8rem;
}

@media (min-width: 576px) {
    .slogan {
      font-size: 2vw;
    }
}

@media (min-width: 768px) {
    .slogan {
      font-size: 2vw;
    }
}

@media (min-width: 992px) {
    .slogan {
      font-size: 2vw;
    }
}

@media (min-width: 1200px) {
    .slogan {
      font-size: 1vw;
    }
}

.mainshape {
    margin-top: 2rem;
}