.partners_bg {
    width: auto;
    height: 16rem;
    background-color: #ffffff;
    display: flex;
    box-shadow: 0 8px 16px 0 rgba(188, 194, 208, 0.5);
}

.partners {
    width: 100%;
    padding: 20% 10%;
}