.brand {
    font-size: 1.6vw;
    font-weight: 700;
    margin-top: 4vh;
    text-align: center;
}

.brandexplain {
    font-size: 1.1vw;
    font-weight: normal;
    margin-top: 2vh;
    margin-bottom: 16vh;
    letter-spacing: 0.45px;
    line-height: 1.8;
    text-align: center;
}

.pantheonx_bg {
    width: auto;
    height: 4vh;
    background-color: #1b4f78;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pantheonx {
    width: 100%;
    padding: 5rem;
}

.volta_bg {
    width: auto;
    height: 4vh;
    background-color: #4d6ef5;
    position: relative;
}

.volta {
    width: 100%;
    padding: 5rem;
}