.bg-copyright {
    background-color: black;
}

.bg-contact {
    background-color: #202020;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    align-items: center;
    padding: 0.6rem;
}

.contact-text{
    color: #c8c8c8;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1.6px;
    line-height: 1.6;
    text-align: center;
    a, a:hover, :active {
        color: #c8c8c8;
    }
}

.footer-text {
    color: #404040;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: center;
    padding: 0rem 2rem 3rem 2rem;
}