.bg-copyright {
    background-color: black;
}

.footer-text {
    color: #7c7c7c;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1.6px;
    line-height: 1.6;
    text-align: center;
    padding: 2rem 3rem;
}