.historydate {
    color: #292929;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.history {
    color: #585858;
    font-size: 1.1rem;
    line-height: 2;
    letter-spacing: 1px;
    white-space: pre-line;
}