.sectiontitle {
  color: #292929;
  font-size: 10vw;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 5rem 0 4rem 0;
}

@media (min-width: 576px) {
  .sectiontitle {
    font-size: 8vw;
  }
}

@media (min-width: 768px) {
  .sectiontitle {
    font-size: 7vw;
    margin: 6rem 0 6rem 0;
  }
}

@media (min-width: 992px) {
  .sectiontitle {
    font-size: 5.5vw;
    margin: 10rem 0 6rem 0;
  }
}

@media (min-width: 1200px) {
  .sectiontitle {
    font-size: 4vw;
  }
}

@media (min-width: 1486px) {
  .sectiontitle {
    margin-top: 8rem;
  }
}


.mb-8 {
  margin-bottom: 10rem;
}

.mb-10 {
  margin-bottom: 15rem;
}

.px-10 {
  padding-left: 24rem;
  padding-right: 24rem;
}