@import "~bootstrap/scss/bootstrap";


body {
    background: #ffffff url("./images/topimage.png") top center/cover no-repeat fixed ;
}


.textlogo {
    font-size: 2rem;
    .bc {
        color: #ffbe32;
        margin-right: 8px;
        padding: 0px;
    }
    .labs {
        color: #000000;
        margin: 0px;
        padding: 0px;
    }
}

.title {
    font-size: 2.4rem;
    color: #202020;
    text-align: center;
    padding: 1rem;
}

.slogan {
    font-size: 1rem;
    color: #202020;
    text-align: center;
    padding: 0.4rem;
}